# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [21]:
# Initial imports
import os
import pandas as pd
import nltk as nltk
from dotenv import load_dotenv
from newsapi import NewsApiClient
from nltk.sentiment.vader import SentimentIntensityAnalyzer

nltk.download('vader_lexicon')
analyzer = SentimentIntensityAnalyzer()
%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/jason/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# Read your api key environment variable
load_dotenv()
api_key = os.getenv("NEWS_API")

In [3]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [26]:
# Fetch the Bitcoin news articles
btc_articles_dto = newsapi.get_everything(
    q="Bitcoin OR BTC", 
    language="en", 
    sort_by="relevancy")
print(f"Total Results: {btc_articles_dto['totalResults']}")

Total Results: 7897

In [27]:
# Fetch the Ethereum news articles
eth_articles_dto = newsapi.get_everything(
    q="Ethereum OR ETH", 
    language="en", 
    sort_by="relevancy")
print(f"Total Results: {eth_articles_dto['totalResults']}")

Total Results: 4155

In [6]:
# Create the Bitcoin sentiment scores DataFrame
btc_df = pd.DataFrame.from_dict(btc_articles_dto["articles"])
btc_df.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': 'reuters', 'name': 'Reuters'}",None,Rouble-crypto trading soars as sanctions hit R...,Trading volumes between the Russian rouble and...,https://www.reuters.com/markets/europe/rouble-...,https://www.reuters.com/pf/resources/images/re...,2022-02-28T17:53:00Z,"LONDON, Feb 28 (Reuters) - Trading volumes bet..."
1,"{'id': 'reuters', 'name': 'Reuters'}",None,Cryptocurrencies in a time of war - Reuters.com,Cryptocurrencies have been close to the headli...,https://www.reuters.com/technology/cryptocurre...,https://www.reuters.com/resizer/o-neidYH62soGC...,2022-03-04T15:01:00Z,"LONDON, March 4 (Reuters) - Cryptocurrencies h..."
2,"{'id': 'the-verge', 'name': 'The Verge'}",Elizabeth Lopatto,How Ukrainians are fundraising in cryptocurrency,Millions of dollars of cryptocurrency have flo...,https://www.theverge.com/2022/2/26/22952357/uk...,https://cdn.vox-cdn.com/thumbor/teEVxppIZ_JTW-...,2022-02-26T20:29:04Z,Illustration by James Bareham / The Verge\r\n\...
3,"{'id': None, 'name': 'New York Times'}",Katie Benner,Justice Dept. Announces Raft of Changes Meant ...,The moves came a week after the department mad...,https://www.nytimes.com/2022/02/17/us/politics...,https://static01.nyt.com/images/2022/02/17/us/...,2022-02-17T23:51:49Z,"Even in cyberspace, the Department of Justice ..."
4,"{'id': None, 'name': 'Kitco NEWS'}",http://www.facebook.com/kitconews,Is crypto winter over? Bitcoin price jumps tow...,<ol><li>Is crypto winter over? Bitcoin price j...,https://www.kitco.com/news/2022-03-01/Is-crypt...,https://www.kitco.com/news/2022-03-01/images/s...,2022-03-01T22:03:00Z,(Kitco News) The escalating Russia-Ukraine cri...

In [7]:
# Create the Ethereum sentiment scores DataFrame
eth_df = pd.DataFrame.from_dict(eth_articles_dto["articles"])
eth_df.head()

,source,author,title,description,url,urlToImage,publishedAt,content
0,"{'id': None, 'name': 'Investorplace.com'}",InvestorPlace,"The Market Has Spoken, and It Says Ethereum Is...","Technical analysis isn’t a perfect tool, but i...",https://investorplace.com/2022/02/the-market-h...,https://images.readwrite.com/wp-content/upload...,2022-02-17T17:10:12Z,"Technical analysis isnt a perfect tool, but it..."
1,"{'id': 'the-verge', 'name': 'The Verge'}",Elizabeth Lopatto,How Ukrainians are fundraising in cryptocurrency,Millions of dollars of cryptocurrency have flo...,https://www.theverge.com/2022/2/26/22952357/uk...,https://cdn.vox-cdn.com/thumbor/teEVxppIZ_JTW-...,2022-02-26T20:29:04Z,Illustration by James Bareham / The Verge\r\n\...
2,"{'id': 'reuters', 'name': 'Reuters'}",None,ConsenSys valuation more than doubles to over ...,Blockchain technology firm ConsenSys said on T...,https://www.reuters.com/technology/consensys-v...,https://www.reuters.com/pf/resources/images/re...,2022-03-15T15:20:00Z,March 15 (Reuters) - Blockchain technology fir...
3,"{'id': 'business-insider', 'name': 'Business I...",prosen@insider.com (Phil Rosen),Bored Ape creator's purchase of CryptoPunks me...,"Yuga Labs, the creators behind Bored Ape Yacht...",https://markets.businessinsider.com/news/curre...,https://i.insider.com/622f3dd2843ef30018e6ddab...,2022-03-14T13:31:54Z,Bored Ape Yacht club creator Yugo Labs has bou...
4,"{'id': 'the-next-web', 'name': 'The Next Web'}",Ivan Mehta,Twitter’s accepting tips in Ethereum — and Dor...,"Last night, Twitter announced it’ll allow user...",https://thenextweb.com/news/twitters-tips-eth-...,https://img-cdn.tnwcdn.com/image/hardfork?filt...,2022-02-17T13:43:26Z,"Last night, Twitter announced itll allow users..."

In [8]:
# Pass in the "raw" articles DTO and retrieve a new DataFrame w/ sentiment details
def createDataFrameWithSentiments(articles_dto):
    sentiments = []

    # Iterate through each article and create a new obj that contains the
    # relevant article data (text & date) + sentiment data
    for article in articles_dto["articles"]:
        try:
            text = article["content"]
            date = article["publishedAt"][:10]
            sentiment = analyzer.polarity_scores(text)
            compound = sentiment["compound"]
            pos = sentiment["pos"]
            neu = sentiment["neu"]
            neg = sentiment["neg"]
            
            sentiments.append({
                "text": text,
                "date": date,
                "compound": compound,
                "positive": pos,
                "negative": neg,
                "neutral": neu
                
            })
            
        except AttributeError:
            pass
        
    # Create DataFrame
    df = pd.DataFrame(sentiments)

    # Reorder DataFrame columns
    cols = ["date", "text", "compound", "positive", "negative", "neutral"]
    df = df[cols]

    return df

In [9]:
# Display a few rows of the new data frame
df_btc = createDataFrameWithSentiments(btc_articles_dto)
df_btc.head()

,date,text,compound,positive,negative,neutral
0,2022-02-28,"LONDON, Feb 28 (Reuters) - Trading volumes bet...",-0.2732,0.000,0.062,0.938
1,2022-03-04,"LONDON, March 4 (Reuters) - Cryptocurrencies h...",-0.1280,0.000,0.046,0.954
2,2022-02-26,Illustration by James Bareham / The Verge\r\n\...,-0.4588,0.000,0.083,0.917
3,2022-02-17,"Even in cyberspace, the Department of Justice ...",0.7351,0.147,0.000,0.853
4,2022-03-01,(Kitco News) The escalating Russia-Ukraine cri...,-0.5267,0.047,0.115,0.838

In [10]:
# Describe the Bitcoin Sentiment
df_btc.describe()

        compound   positive   negative   neutral
count  20.000000  20.000000  20.000000  20.00000
mean   -0.000170   0.066300   0.055800   0.87795
std     0.492861   0.061578   0.061111   0.06361
min    -0.771300   0.000000   0.000000   0.73900
25%    -0.353350   0.000000   0.000000   0.84475
50%    -0.089800   0.060500   0.054000   0.87050
75%     0.397975   0.092750   0.095750   0.93250
max     0.784500   0.214000   0.187000   1.00000

In [11]:
# Display a few rows of the new data frame
df_eth = createDataFrameWithSentiments(eth_articles_dto)
df_eth.head()

,date,text,compound,positive,negative,neutral
0,2022-02-17,"Technical analysis isnt a perfect tool, but it...",-0.2498,0.000,0.059,0.941
1,2022-02-26,Illustration by James Bareham / The Verge\r\n\...,-0.4588,0.000,0.083,0.917
2,2022-03-15,March 15 (Reuters) - Blockchain technology fir...,0.0000,0.000,0.000,1.000
3,2022-03-14,Bored Ape Yacht club creator Yugo Labs has bou...,0.5256,0.142,0.054,0.803
4,2022-02-17,"Last night, Twitter announced itll allow users...",0.2263,0.056,0.000,0.944

In [12]:
# Describe the Ethereum Sentiment
df_eth.describe()

        compound   positive   negative    neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.201435   0.083400   0.038050   0.878450
std     0.369257   0.077025   0.035487   0.083807
min    -0.458800   0.000000   0.000000   0.713000
25%    -0.102700   0.000000   0.000000   0.809750
50%     0.214300   0.071000   0.047000   0.896000
75%     0.432825   0.142500   0.059500   0.941750
max     0.834000   0.236000   0.105000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: **Ethereum: 0.083400**

Q: Which coin had the highest compound score?

A: **Ethereum: 0.834000**

Q. Which coin had the highest positive score?

A: **Ethereum: 0.236000**

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [13]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [14]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = set(stopwords.words('english'))

# Expand the default stopwords list if necessary
sw = sw.union({'reuters', 'illustration', 'com'})

In [46]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    text = text.translate(str.maketrans('', '', punctuation))
   
    # Create a tokenized list of the words
    tokens_re = word_tokenize(text)
    
    # Lemmatize words into root words
    tokens_lemmatized = [lemmatizer.lemmatize(token) for token in tokens_re] 
   
    # Convert the words to lowercase & remove the stop words
    tokens = [token.lower() for token in tokens_lemmatized if token.lower() not in sw]
    
    return tokens

In [47]:
# Take a dataframe and add a tokens column
def addTokensColumnToDataFrame(df_orig):
    # Leave original dataframe intact by making a copy
    df = df_orig.copy()

    # Create tokens column
    df['tokens'] = df.apply(lambda row: (tokenizer(row.text)),axis=1)

    # Reorder DataFrame columns
    cols = ["date", "text", "tokens", "compound", "positive", "negative", "neutral"]
    df = df[cols]

    return df

In [48]:
# Create a new tokens column for Bitcoin
df_btc = addTokensColumnToDataFrame(df_btc)
df_btc.head()

,date,text,tokens,compound,positive,negative,neutral
0,2022-02-28,"LONDON, Feb 28 (Reuters) - Trading volumes bet...","[london, feb, 28, trading, volume, russian, ro...",-0.2732,0.000,0.062,0.938
1,2022-03-04,"LONDON, March 4 (Reuters) - Cryptocurrencies h...","[london, march, 4, cryptocurrencies, close, he...",-0.1280,0.000,0.046,0.954
2,2022-02-26,Illustration by James Bareham / The Verge\r\n\...,"[james, bareham, verge, 15, million, ha, donat...",-0.4588,0.000,0.083,0.917
3,2022-02-17,"Even in cyberspace, the Department of Justice ...","[even, cyberspace, department, justice, able, ...",0.7351,0.147,0.000,0.853
4,2022-03-01,(Kitco News) The escalating Russia-Ukraine cri...,"[kitco, news, escalating, russiaukraine, crisi...",-0.5267,0.047,0.115,0.838

In [49]:
# Create a new tokens column for Ethereum
df_eth = addTokensColumnToDataFrame(df_eth)
df_eth.head()

,date,text,tokens,compound,positive,negative,neutral
0,2022-02-17,"Technical analysis isnt a perfect tool, but it...","[technical, analysis, isnt, perfect, tool, may...",-0.2498,0.000,0.059,0.941
1,2022-02-26,Illustration by James Bareham / The Verge\r\n\...,"[james, bareham, verge, 15, million, ha, donat...",-0.4588,0.000,0.083,0.917
2,2022-03-15,March 15 (Reuters) - Blockchain technology fir...,"[march, 15, blockchain, technology, firm, cons...",0.0000,0.000,0.000,1.000
3,2022-03-14,Bored Ape Yacht club creator Yugo Labs has bou...,"[bored, ape, yacht, club, creator, yugo, labs,...",0.5256,0.142,0.054,0.803
4,2022-02-17,"Last night, Twitter announced itll allow users...","[last, night, twitter, announced, itll, allow,...",0.2263,0.056,0.000,0.944

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [40]:
from collections import Counter
from nltk import ngrams

In [39]:
# Generate the Bitcoin N-grams where N=2
btc_ngrams_count = Counter(ngrams(df_btc['btc_tokens'], n=2))
print(dict(btc_ngrams_count))

TypeError: unhashable type: 'list'

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---